@import 'tailwindcss';

@theme {
  --color-ig-primary-background: var(--ig-primary-background);
  --color-ig-secondary-background: var(--ig-secondary-background);
  --color-ig-banner-background: var(--ig-banner-background);
  --color-ig-elevated-background: var(--ig-elevated-background);
  --color-ig-elevated-highlight-background: var(
    --ig-elevated-highlight-background
  );
  --color-ig-icon-background: rgb(26, 26, 26, 0.8);
  --color-ig-option-pressed: rgb(0, 0, 0, 0.1);
  --color-ig-highlight-background: var(--ig-highlight-background);

  --color-ig-primary-button: rgb(0, 149, 246);
  --color-ig-primary-button-hover: rgb(24, 119, 242);
  --color-ig-primary-button-pressed: rgb(0, 149, 246, 0.5);
  --color-ig-primary-button-disabled: rgb(0, 149, 246, 0.7);
  --color-ig-secondary-button-background: var(--ig-secondary-button-background);
  --color-ig-secondary-button-background-hover: var(
    --ig-secondary-button-background-hover
  );
  --color-ig-secondary-button-background-pressed: var(
    --ig-secondary-button-background-pressed
  );
  --color-ig-secondary-modal-button-background: var(
    --ig-secondary-modal-button-background
  );
  --color-ig-secondary-modal-button-background-hover: var(
    --ig-secondary-modal-button-background-hover
  );
  --color-ig-secondary-modal-button-background-pressed: var(
    --ig-secondary-modal-button-background-pressed
  );
  --color-ig-secondary-button: var(--ig-secondary-button);
  --color-ig-secondary-button-hover: var(--ig-secondary-button-hover);
  --color-ig-secondary-button-pressed: var(--ig-secondary-button-pressed);
  --color-ig-colors-button-borderless-text: var(
    --ig-colors-button-borderless-text
  );
  --color-ig-colors-button-borderless-text-pressed: var(
    --ig-colors-button-borderless-text-pressed
  );

  --color-ig-hover-overlay: var(--ig-hover-overlay);
  --color-ig-active-overlay: var(--ig-active-overlay);
  --color-overlay-alpha-80: var(--overlay-alpha-80);
  --color-ig-image-overlay: rgb(0, 0, 0, 0.7);
  --color-ig-image-overlay-pressed: rgb(0, 0, 0, 0.8);
  --color-ig-profile-image-overlay: rgb(85, 85, 85, 0.7);
  --color-ig-image-selected-overlay: rgb(0, 0, 0, 0.7);

  --color-ig-primary-text: var(--ig-primary-text);
  --color-ig-primary-text-pressed: var(--ig-primary-text-pressed);
  --color-ig-secondary-text: var(--ig-secondary-text);
  --color-ig-secondary-text-pressed: var(--ig-secondary-text-pressed);
  --color-ig-tertiary-text: var(--ig-tertiary-text);
  --color-ig-link: var(--ig-link);
  --color-ig-link-pressed: var(--ig-link-pressed);

  --color-ig-separator: var(--ig-separator);
  --color-post-separator: var(--post-separator);
  --color-ig-stroke: var(--ig-stroke);
  --color-ig-stroke-input: var(--ig-stroke-input);
  --color-ig-elevated-separator: var(--ig-elevated-separator);
  --color-ig-stroke-adjustments: var(--ig-stroke-adjustments);

  --color-grey-2: rgb(219, 219, 219);
  --color-grey-4: rgb(168, 168, 168);
  --color-blue-2: rgb(179, 219, 255);
  --color-ig-badge: rgb(255, 48, 64);
  --color-web-always-black: rgb(0, 0, 0);
  --color-web-always-white: rgb(255, 255, 255);
}

@layer base {
  :root {
    --ig-primary-background: rgb(255, 255, 255);
    --ig-secondary-background: rgb(245, 245, 245);
    --ig-banner-background: rgb(255, 255, 255);
    --ig-elevated-background: rgb(255, 255, 255);
    --ig-elevated-highlight-background: rgb(239, 239, 239);
    --ig-highlight-background: rgb(239, 239, 239);

    --ig-secondary-button-background: rgb(239, 239, 239);
    --ig-secondary-button-background-hover: rgb(219, 219, 219);
    --ig-secondary-button-background-pressed: rgb(239, 239, 239, 0.5);
    --ig-secondary-modal-button-background: rgb(239, 239, 239);
    --ig-secondary-modal-button-background-hover: rgb(219, 219, 219);
    --ig-secondary-modal-button-background-pressed: rgb(219, 219, 219, 0.7);
    --ig-secondary-button: rgb(38, 38, 38);
    --ig-secondary-button-hover: rgb(38, 38, 38, 0.5);
    --ig-secondary-button-pressed: rgb(38, 38, 38, 0.7);
    --ig-colors-button-borderless-text: rgb(65, 80, 247);
    --ig-colors-button-borderless-text-pressed: rgb(31, 40, 173, 0.5);

    --ig-hover-overlay: rgb(0, 0, 0, 0.05);
    --ig-active-overlay: rgb(0, 0, 0, 0.03);
    --overlay-alpha-80: rgba(0, 0, 0, 0.65);

    --ig-primary-text: rgb(0, 0, 0);
    --ig-primary-text-pressed: rgb(0, 0, 0, 0.5);
    --ig-secondary-text: rgb(115, 115, 115);
    --ig-secondary-text-pressed: rgb(115, 115, 115, 0.5);
    --ig-tertiary-text: rgb(199, 199, 199);
    --ig-link: rgb(0, 55, 107);
    --ig-link-pressed: rgb(0, 55, 107, 0.5);

    --ig-elevated-separator: rgb(219, 219, 219);
    --ig-separator: rgb(219, 219, 219);
    --post-separator: rgb(239, 239, 239);
    --ig-stroke: rgb(219, 219, 219, 0.3);
    --ig-stroke-input: rgb(219, 219, 219);
    --ig-stroke-adjustments: rgb(219, 219, 219);
  }

  .dark {
    --ig-primary-background: rgb(0, 0, 0);
    --ig-secondary-background: rgb(18, 18, 18);
    --ig-banner-background: rgb(38, 38, 38);
    --ig-elevated-background: rgb(38, 38, 38);
    --ig-elevated-highlight-background: rgb(54, 54, 54);
    --ig-highlight-background: rgb(38, 38, 38);

    --ig-secondary-button-background: rgb(54, 54, 54);
    --ig-secondary-button-background-hover: rgb(38, 38, 38);
    --ig-secondary-button-background-pressed: rgb(54, 54, 54, 0.5);
    --ig-secondary-modal-button-background: rgb(85, 85, 85, 0.7);
    --ig-secondary-modal-button-background-hover: rgb(54, 54, 54);
    --ig-secondary-modal-button-background-pressed: rgb(54, 54, 54, 0.7);
    --ig-secondary-button: rgb(245, 245, 245);
    --ig-secondary-button-hover: rgb(245, 245, 245, 0.5);
    --ig-secondary-button-pressed: rgb(245, 245, 245, 0.7);
    --ig-colors-button-borderless-text: rgb(112, 141, 255);
    --ig-colors-button-borderless-text-pressed: rgb(163, 188, 255, 0.5);

    --ig-hover-overlay: rgb(255, 255, 255, 0.1);
    --ig-active-overlay: rgb(255, 255, 255, 0.03);
    --overlay-alpha-80: rgb(0, 0, 0, 0.65);

    --ig-primary-text: rgb(245, 245, 245);
    --ig-primary-text-pressed: rgb(245, 245, 245, 0.5);
    --ig-secondary-text: rgb(168, 168, 168);
    --ig-secondary-text-pressed: rgb(168, 168, 168, 0.5);
    --ig-tertiary-text: rgb(115, 115, 115);
    --ig-link: rgb(224, 241, 255);
    --ig-link-pressed: rgb(224, 241, 255, 0.5);

    --ig-elevated-separator: rgb(54, 54, 54);
    --ig-separator: rgb(38, 38, 38);
    --post-separator: rgb(38, 38, 38);
    --ig-stroke: rgb(85, 85, 85, 0.3);
    --ig-stroke-input: rgb(85, 85, 85);
    --ig-stroke-adjustments: rgb(0, 0, 0);
  }
}

@layer utilities {
  body {
    color: var(--ig-primary-text);
    background: var(--ig-primary-background);
    font-family:
      -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
      sans-serif;
  }

  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px var(--ig-secondary-background) inset !important;
    -webkit-text-fill-color: var(--ig-primary-text) !important;
    caret-color: var(--ig-primary-text);
    transition: background-color 5000s ease-in-out 0s;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
