@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  background: var(--background);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
}

@layer base {
  :root {
    --foreground: #000;
    --background: #fff;
    --separator: #dbdbdb;
    --hover: #f2f2f2;
    --popover: #fff;
    --popover-hover: #f2f2f2;
    --button-color: #0095f6;
    --button-hover: #1877f2;
    --button-border: #555555;
    --foreground-secondary: #a8a8a8;
  }

  .dark {
    --foreground: #f5f5f5;
    --background: #000;
    --separator: #353535;
    --hover: #1a1a1a;
    --popover: #262626;
    --popover-hover: #3c3c3c;
    --button-color: #0095f6;
    --button-hover: #1877f2;
    --button-border: #555555;
    --foreground-secondary: #a8a8a8;
  }
}

.input-container {
  @apply relative h-10 px-2 text-xs flex gap-3 border rounded-md bg-popover;
}

.input-label {
  @apply flex flex-col items-center justify-center w-4/5 h-full bg-background;
}

.input-label-span {
  @apply left-3 w-full bg-popover h-full text-xs text-foregroundSecondary;
}

.input {
  @apply w-full h-full text-foreground bg-popover border-none focus:outline-none;
}

.nav-item {
  @apply flex items-center justify-start gap-4 p-3 transition-all rounded-lg duration-300 hover:bg-hover;
}
